<p>outlet-one works!</p>
<a [routerLink]="['/','foo', { outlets: { info:null } }]">Goto Foo with / array component not working </a>
<br />
<a [routerLink]="['/', { outlets: { info:null } }]">just worked to close outlet</a>
<br />
<a [routerLink]="['/foo', { info: null }]">Goto Foo component not working </a>
<br />
<button (click)="gotoFoo()">goto Foo component not working</button>
<br />
<a [relativeTo]="route.parent" [routerLink]="['/foo', {outlets: {info: null}}]">Goto Foo ActivatedRoute component not
    working</a>
<br />
<a [relativeTo]="route.parent" [routerLink]="['/foo', {info: null}]">Goto Foo ActivatedRoute component not working</a>
<br />